<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="10">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a href="#">
            <span class=" navbar-brand glyphicon glyphicon-home" ></span>
        </a>
    </div>
    
    <ul class="nav navbar-nav ">
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'homepage.index.nav.by_brand' | trans | capitalize }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for marque in marques %}
                <li><a href="{{ url('app.voiture.index', {'slug': marque.nom }) }}">{{ marque.nom }}</a></li>
            {% endfor %}
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'homepage.index.nav.by_category' | trans | capitalize }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for categorie in categories %}
                <li><a href="{{ url('app.piece.detache.index', {'slug': categorie.translations[app.request.locale].slug }) }}">{{ categorie.translations[app.request.locale].nom | capitalize }}</a></li>
            {% endfor %}
        </ul>
      </li>
      <li><a href="#">Contact </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span></button>
            <li><a class="btn btn-default btn-lg" href="#"><span class="glyphicon glyphicon-user"></span>user</a></li>
            <li><a href="{{ url('app.security.logout') }}"><span class="glyphicon glyphicon-log-out"></span>{{ 'homepage.index.nav.signout' | trans | capitalize }}</a></li>
        {% else %}
            <li><a href="{{ url('app.security.login') }}"><span class="glyphicon glyphicon-log-in"></span>{{ 'homepage.index.nav.signin' | trans | capitalize }}</a></li>
            <li><a href="{{ url('app.compte.inscrire') }}"><span class="glyphicon glyphicon-user"></span>{{ 'homepage.index.nav.signup' | trans | capitalize }}</a></li>
        {% endif %}
    </ul>
  </div>
</nav>