{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        {% set nombre = voitures | length %}
        <h3>{{ 'voiture.nombre' | transchoice(nombre, {'%marque%': slug | capitalize }) | capitalize }}</h3>
        <div class="row text-center">
            {% for voiture in voitures %}
            <div class="col-sm-4">
                
                <div class="thumbnail">
                  <img src="{{ asset('img/voiture/' ~ voiture.image ~ '') }}" alt="Paris" width="300" height="200">
                  <p><strong>{{ voiture.name }}</strong></p>
                  
                  <button type="button" class="btn btn-info more-info" data-toggle="modal"
                    data-car="{{ voiture.id }}" data-target="#myModal">
                    {{ 'voiture.index.button_detail' | trans | capitalize }}
                  </button>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>     
{% endblock %}


