{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Administration {% endblock %}
{% block body %}

    <h3>Espace d'administration</h3>

    <div class="panel panel-primary">
        <div class="panel-heading">Recherche avancée</div>
        <div class="panel-body">
            <form>
                <div class="form-group col-sm-6">
                    <label  for="usernameSearch">Username :</label>
                    <input type="text" class="form-control" id="usernameSearch">
                    <div id="description"></div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="emailSearch">Email :</label>
                    <input type="email" class="form-control" id="emailSearch">
                </div>

                <div class="form-group col-sm-6">
                    <label for="statuSearch">Statut :</label>
                    <select class="form-control" id="statuSearch">
                        <option selected>-</option>
                        <option>Oui</option>
                        <option>Non</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="villeSearch">Ville:</label>
                    <input type="text" class="form-control" id="villeSearch">
                </div>

                <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td></td>
                <td>{{  user.username }}</td>
                <td>{{ user.email }}</td>
                <td> {{ user.isActive ? "Oui" : "Non" }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipcode }}</td>
                <td>
                    <a href="" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span></a>
                    <a href="{{ path('app.admin.user.delete', { id: user.id }) }}" class="btn btn-sm btn-danger btn-supp"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Delete</span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <div class="pagerfanta">
        {{ pagerfanta(my_pager,  'twitter_bootstrap3') }}
    </div>
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/confirm-delete.js') }}"></script>
    <script src="{{ asset('js/autocompletion-search.js') }}"></script>
{% endblock %}


